// Colors
$red: #fe6654;
$blue: #2caeff;
$blue-light: #c0e7ff;
$blue-lighter: #f2faff;
$green: #83ba63;
$gray: #c3d3dd;
$gray-light: #d7e1e8;
$muted: #acb4ba;
$warning-bg: #fff0cc;

// Media sizes
$mobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 992px;
