.modalProgressTitle {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d7e1e8;
   width: 160px;
   height: 27px;
   clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%, 8% 50%);
   shape-outside: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%, 8% 50%);
   font-size: 12px;
   font-weight: bold;
   margin-left: -8px;

   &:first-child {
      clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%, 0% 0%);
      shape-outside: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%, 0% 0%);
      margin-left: 0;
   }
}

.modalProgressTitleActive {
   background-color: #83ba63;
   color: white;
}
