.container {
   position: relative;
}

.input {
   &:read-only,
   &:disabled {
      color: #000;
      background: #ececec;
   }
}

.showPassword {
   position: absolute;
   padding: 7px;
   top: 2px;
   right: 5px;
   opacity: 0.75;
   cursor: pointer;
}
